.personal {
}

.personal-wrap {
    display: flex;
    flex-direction: row;
    box-sizing: content-box;
    max-width: 1300px;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

.personal-wrap a {
    text-decoration: none;
    color: black;
}

.personal .card {
    text-align: center;
}

.personal .card p {
    font-size: 20px;
}