.Career-wrap {
    background-color: lightgray;
    vertical-align: middle;
    padding: 25px;
    margin-top: 20px;
}

.Career-wrap .card {
    padding: 25px;
}
.Career-wrap .card .date {
    font-size: 15px;
}
.Career-wrap .card .company {
    font-size: 25px;
}
.Career-wrap .card-wrap {
    background-color: white;
    width: 80%;
    border-radius: 15px;
    margin: auto;
    padding: 20px;
}
.Career-wrap .card img {
    width: 40px;
    height: auto;
    display: inline-block;
    margin-right: 20px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid lightgray;
}

.caption {
    font-size: 12px;
    color: gray;
    text-align: right;
    margin-top: 20px;
    padding: 10px;
    padding-bottom: 20px;
}