.Prize-wrap .card-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Prize-wrap .card {
    width: 45%;
    padding: 10px;
    word-break: normal;
    display: inline-block;
    background-color: white;
    margin: 10px;
    border-radius: 15px;
    text-align: center;
    padding-bottom: 20px;
    max-width: 500px;
}

.Prize-wrap .card .semester {
    font-size: 15px;
    color: gray;
    margin-bottom: 20px;
}

.Prize-wrap .card .title {
    font-size: 20px;
    padding: 5px;
}