.Modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.16);
}
.Modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.Modal > * {
    margin-left: 16px;
    margin-right: 16px;
}
.Modal > *:first-child {
    margin-top: 16px;
}
.Modal p.title {
    font-size: 16pt;
    font-weight: bold;
    color: #333;
}
.Modal .content {
    border-top: 1px solid #bebebe;
    margin-top: 16px;
}
.Modal .content p {
    padding: 8px;
    font-size: 12pt;
    color: #999;
}
.Modal .button-wrap {
    margin: 0;
    margin-top: 8px;
}
.Modal .button-wrap button {
    width: 100%;
    padding: 12px 0;
    border-radius: 0 0 10px 10px;
    background-color: #ad7cef;
    font-size: 13pt;
    color: white;
    border: 0;
    cursor: pointer;
}
.Modal .button-wrap button:hover {
    background-color: #7f49c8;
}
.Modal .button-wrap button:active {
    background-color: #7e49c8;
}
