ul {
    list-style-type: none;
    padding: 20px;
    margin: 0;
    top: 0;
    right: 0;
    position: fixed;
    width: 100%;
    z-index: 3;
    background-color: #282c34;
    text-align: right;
}

li {
    display: inline;
    z-index: 2;
}

ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    z-index: 1;
    margin-right: 25px;
    padding: 12px;
    padding-bottom: 8px;
    padding-top: 8px;
    border-radius: 50px;
}

.Navigation-wrap .show {
    transition: visibility 0s, opacity 0.5s linear;
}

.Navigation-wrap .hidden {
    visibility: hidden;
    opacity: 0;
}

.contact li:nth-child(5) > a {
    background-color: white;
    color: black;
}

.projects li:nth-child(4) > a {
    background-color: white;
    color: black;
}

.activities li:nth-child(3) > a {
    background-color: white;
    color: black;
}

.career li:nth-child(2) > a {
    background-color: white;
    color: black;
}

.main li:nth-child(1) > a {
    background-color: white;
    color: black;
}